/* -------------------- 아이콘 CSS -------------------- */


/* 아이콘 열 - 전체 CSS */
.icon-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}


/* 아이콘 열 - 각 아이콘 CSS */
.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 아이콘 열 - icon-row__icon 클래스 안의 모든 아이콘(i) CSS */
.icon-row__icon i {
  font-size: 30px;
}


/* 아이콘 열 - icon-row__icon 클래스 안의 모든 텍스트(span) CSS */
.icon-row__icon span {
  margin-top: 18px;
}