/* -------------------- 네비게이션 바 CSS -------------------- */


/* 네비게이션 바 - 전체 CSS */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}


/* 네비게이션 바 - 리스트 CSS */
.nav__list {
  display: flex;
  justify-content: space-between;
}


/* 네비게이션 바 - 링크 CSS */
.nav__link {
  position: relative;
  color: #2e363e;
}


/* 채팅 아이콘 알림 표시 - 키프레임 애니메이션 CSS */
@keyframes noticeAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(360deg);
  }
  100% {
    transform: none;
  }
}


/* 네비게이션 바 - 채팅 아이콘 알림 표시 CSS */
.nav__notice {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: noticeAnimation 2s ease-in-out infinite;
}


/* 네비게이션 바 - 점 3개 도트 아이콘 알림 표시 CSS */
.nav__point {
  background-color: var(--red-circle);
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  bottom: 25px;
}