/* -------------------- 네비게이션 바 CSS -------------------- */


/* 네비게이션 바 - 전체 CSS */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
}


/* 네비게이션 바 - 리스트 CSS */
.nav__list {
  display: flex;
  justify-content: space-between;
}


/* 네비게이션 바 - 링크 CSS */
.nav__link {
  position: relative;
  color: #2e363e;
}


/* 네비게이션 바 - 채팅 아이콘 알림 표시 CSS */
.nav__notice {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  position: absolute;
  left: 20px;
  bottom: 15px;
}


/* 네비게이션 바 - 점 3개 도트 아이콘 알림 표시 CSS */
.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  left: 30px;
  bottom: 25px;
}