/* -------------------- 아이콘 빨간 포인트 CSS -------------------- */


/* 설정 아이콘 - 빨간 포인트 CSS */
.red-cog__point {
  background-color: var(--red-circle);
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  position: absolute;
  right: -9px;
  top: -4px;
  }


  /* 느낌표 아이콘 - 빨간 포인트 CSS */
  .red-exclamation__point {
    background-color: white;
    display: flex;
    border-radius: 10px;
    color: var(--red-circle);
    position: absolute;
    right: -22px;
    top: 28px;
  }