/* -------------------- 화면 헤더 CSS -------------------- */


/* 화면 헤더 - 전체 CSS */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 10px;
}


/* 화면 헤더 - 제목 CSS */
.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}


/* 화면 헤더 - 아이콘 CSS */
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}


/* 화면 헤더 설정 아이콘 - 키프레임 애니메이션 CSS */
@keyframes retateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}


/* 화면 헤더 - 헤더 설정 아이콘에 마우스가 올라갔을 때 CSS */
.screen-header__icons .fa-gear:hover {
  animation: retateCog 1s linear infinite;
}