/* -------------------- 상태 바 CSS -------------------- */


/* 상태 바 - 전체 CSS
: 상태 바를 축의 중심 부분에 정렬 */
.status-bar {
  position: fixed;
  top: 0;
  width:100%;
  display: flex;
  justify-content: center;
  padding: 5px 5px;
}


/* 상태 바 - 칼럼 CSS
: 상태 바의 모든 칼럼을 같은 너비로 배치 */
.status-bar__column {
  width: 33%;
}


/* 상태 바 - 칼럼의 첫 번째 자식 span CSS
: No Service span과 와이파이 아이콘 사이의 여백 공간 */
.status-bar__column:first-child span {
  margin-right: 7px;
}


/* 상태 바 - 칼럼의 두 번째 자식 CSS
: 현재 시각을 축의 중심 부분에 정렬 */
.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}


/* 상태 바 - 칼럼의 세 번째(마지막) 자식 CSS
: 배터리와 충전 중 아이콘을 축의 끝 부분에 정렬 */
.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}


/* 상태 바 - 상태 바 칼럼 안에 있는 배터리에만 CSS
배터리와 충전 아이콘 사이에 여백 공간 */
.status-bar__column .fa-battery-full {
  margin: 0px 7px;
}