 /* body 태그의 style 변경하기  */
body {
  color: #0099FF;
  background-color: #cff1ff;
  text-align: center;
}


/*  h1의 기본 값 색상 지정하기
    시작 지점(blue)과 종료지점(tomato)의 변화가 천천히 진행되도록 트랜지션 사용하기  */
h1 {
  color: blue;
  transition: color .5s ease-in-out;
}


 /* clicked 클래스의 색상 지정하기 */
.clicked {
  color: tomato;
}


 /* love-font 클래스의 글꼴 지정하기  */
.love-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}