/* -------------------- 채팅방 화면 CSS -------------------- */


/* 채팅방 화면 - 전체 CSS */
#chat-room-screen {
  background-color: #abc1d1;
  height: 11000vh;
}


/* 채팅방 화면 - 채팅방 헤더, 채팅방 상태 바 전체 CSS */
#chat-room-screen .alt-header,
#chat-room-screen .status-bar {
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}


/* 채팅방 화면 - 채팅방 상태 바의 수직 위치 CSS */
#chat-room-screen .status-bar {
  z-index: 2;
}


/* 채팅방 화면 - 채팅방 헤더의 수직 위치 CSS */
#chat-room-screen .alt-header {
  top: 10px;
  z-index: 1;
}


/* 메인 채팅방 - 전체 CSS */
.main-chat-room {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 채팅방 - 시간 표시 CSS */
.chat-room__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 25px;
  margin-bottom: 25px;
}


/* 수신 메시지 - 메시지 작성자 CSS */
.message-row {
  width: 100%;
  display: flex;
}


/* 수신 메시지 - 메시지 작성자 프로필 CSS */
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 12px;
}


/* 수신 메시지 - 메시지 작성자 이름 CSS */
.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}


/* 수신 메시지 - 메시지 정보(말풍선, 시간) 전체 CSS */
.message__info {
  display: flex;
  align-items: flex-end;
}


/* 수신 메시지 - 메시지 작성자 말풍선 CSS */
.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}


/* 수신 메시지 - 메시지 작성자 시간, 메시지 작성자 이름 CSS */
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}