/* -------------------- 채팅방 화면 CSS -------------------- */


/* 채팅방 화면 - 전체 CSS */
#chat-room-screen {
  background-color: #abc1d1;
  height: 500vh;
}


/* 채팅방 화면 - 채팅방 헤더, 채팅방 상태 바 전체 CSS */
#chat-room-screen .alt-header,
#chat-room-screen .status-bar {
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}


/* 채팅방 화면 - 채팅방 상태 바의 수직 위치 CSS */
#chat-room-screen .status-bar {
  z-index: 2;
}


/* 채팅방 화면 - 채팅방 헤더의 수직 위치 CSS */
#chat-room-screen .alt-header {
  top: 10px;
  z-index: 1;
}


/* 메인 채팅방 - 키프레임 애니메이션 CSS */
@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}


/* 메인 채팅방 - 전체 CSS */
.main-chat-room {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}


/* 채팅방 - 시간 표시 CSS */
.chat-room__timestamp {
  color: white;
  background-color: #92a4b2;
  padding: 15px;
  font-size: 14px;
  font-weight: 300;
  border-radius: 25px;
  margin-bottom: 25px;
}


/* 수신 메시지 - 메시지 작성자 CSS */
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}


/* 수신 메시지 - 메시지 작성자 프로필 CSS */
.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  margin-right: 12px;
}


/* 수신 메시지 - 메시지 작성자 이름 CSS */
.message__author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
}


/* 수신 메시지 - 메시지 정보(말풍선, 시간) 전체 CSS */
.message__info {
  display: flex;
  align-items: flex-end;
}


/* 수신 메시지 - 메시지 작성자 말풍선 CSS */
.message__bubble {
  background-color: white;
  padding: 13px;
  font-size: 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}


/* 수신 메시지 - 메시지 작성자 시간, 메시지 작성자 이름 CSS */
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}


/* 나의 메시지 - 전체 CSS */
.message-row--own {
  justify-content: flex-end;
}


/* 나의 메시지 - 메시지 작성자 말풍선 CSS */
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 8px;
}


/* 나의 메시지 - 메시지 정보(말풍선, 시간) 전체 CSS */
.message-row--own .message__info {
  flex-direction: row-reverse;
}


/* 메시지 회신 - 전체 CSS */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}


/* 메시지 회신 - 첫 번째 칼럼 전체 CSS */
.reply .reply__column:first-child {
  width: 10%;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 전체 CSS */
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}


/* 메시지 회신 - 모든 아이콘 CSS */
.reply i {
  opacity: 0.5;
}


/* 메시지 회신 - 인풋 전체 CSS */
.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 25px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 안의 아이콘(다이렉트)과 버튼 CSS */
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 5px;
  top: 5.5px;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 안의 아이콘(다이렉트) CSS */
.reply__column:last-child > i {
  right: 50px;
  top: 21px;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 안의 버튼 CSS */
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 안의 버튼 CSS */
.reply__column button i {
  opacity: 1;
}


/* 메시지 회신 - 두 번째(마지막) 칼럼 안의
   버튼이 focus 되었을 때, active 되었을 때 CSS */
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}


/*  reply form에 있는 아이콘과 버튼 사라지게 하기 */
.reply .reply__column:first-child,
.reply .fa-face-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}


/* reply 내부에 웃는 얼굴 아이콘과
   보내기 아이콘 버튼이 focus 되어 있다면 CSS */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}


/* reply를 밑으로 옮겨, 제자리에서 메시지 input 너비만 조절 */
.reply:focus-within input {
  width: 97vw;
  transform: translateX(-12%) translateY(-80px);
}


/* reply 안에 있는 무언가가 focus 되면 발생하는 CSS */
.reply:focus-within {
  transform: translateY(80px);
}