/* -------------------- 찾기 화면 CSS -------------------- */


/* 찾기 아이콘 - 전체 CSS */
.find-icons {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


/* 찾기 아이콘 - 각 아이콘 CSS */
.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* 찾기 아이콘 - find-icons__icon 클래스 안의 모든 아이콘(i) CSS */
.find-icons__icon i {
  font-size: 30px;
}


/* 찾기 아이콘 - find-icons__icon 클래스 안의 모든 텍스트(span) CSS */
.find-icons__icon span {
  margin-top: 18px;
}