/* -------------------- 찾기 화면 CSS -------------------- */


/* 추천 친구 - 전체 CSS */
.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}


/* 추천 친구 - 제목 CSS */
.recommended-friends__title {
  font-size: 14px;
  color: var(--gray-text);
}


/* 추천 친구 - recommended-friends 클래스 안의 모든 텍스트(span) CSS */
.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray-text);
}


/* 오픈 채팅 - 헤더 CSS */
.open-chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  margin-bottom: 25px;
}


/* 오픈 채팅 - 헤더 클래스 안의 텍스트(span) CSS */
.open-chat__header span {
  opacity: 0.6;
}


/* 오픈 포스트 - 전체 CSS */
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 오픈 포스트 - 제목 CSS */
.open-post__title {
  font-weight: 600;
  margin-bottom: 8px;
}


/* 오픈 포스트 - 해시태그 CSS */
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}


/* 오픈 포스트 - 멤버 CSS */
.open-post__members {
  margin-top: 8px;
  display: flex;
  align-items: center;
}


/* 오픈 포스트 - 멤버 프로필 CSS */
.open-post__members img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}


/* 오픈 포스트 - 멤버 수 CSS */
.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}


/* 오픈 포스트 - 멤버 디바이더 CSS */
.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.2);
}


/* 오픈 포스트 - 멤버 상태 CSS */
.open-post__members-status {
  color: rgb(255, 101, 196);
}


/* 오픈 포스트 - 사진 이미지 CSS */
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}


/* 오픈 포스트 - 사진 CSS */
.open-post__photo {
  position: relative;
}


/* 오픈 포스트 - 좋아요 박스 CSS */
.open-post__heart-box {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}


/* 오픈 포스트 - 좋아요 수 CSS */
.open-post__heart-box span {
  margin-left: 5px;
}