/* -------------------- 친구 화면 CSS -------------------- */


/* 친구 이름 화면 - 전체 CSS */
#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}


/* 친구 이름 화면 - 아이콘 색상 CSS */
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}


/* 친구 화면 - 전체 CSS */
.friends-screen {
  padding: 0px var(--horizontal-space);
}


/* 친구 화면 - 채널 CSS */
.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}


/* 친구 화면 - 채널 헤더 CSS */
.friends-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}