/* -------------------- 친구 화면 CSS -------------------- */


/* 친구 이름 화면 - 전체 CSS */
#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -15px;
}


/* 친구 이름 화면 - 아이콘(i) 색상 CSS */
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}


/* 친구 화면 - 전체 CSS */
.friends-screen {
  padding: 0px var(--horizontal-space);
}


/* 친구 화면 - 채널 헤더, 친구 헤더 CSS */
.friends-screen__channel-header,
.friends-screen__friend-header {
  margin: 10px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--gray-text);
}


/* 친구 화면 - 채널 목록, 친구 목록 CSS */
.friends-screen__channel,
.friends-screen__friend {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 5px;
}