/* -------------------- 더보기 CSS -------------------- */


/* 더보기 화면 - more-screen 안에 있는 icon-row 아이콘 열 전체 CSS */
.more-screen .icon-row {
  margin-top: 35px;
}


/* 더보기 화면 - 추천 앱 CSS */
.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}


/* 더보기 화면 - 추천 앱 제목 CSS */
.more-suggestions__title {
  margin-bottom: 30px;
}