/*  CSS의 캔버스 : 사용자에게 표시되는 UI의 크기를 설정  */
canvas {
  margin-top: 1000px;
  width: 600px;
  height: 600px;
  border: 5px solid #FDF4F5;
  background-color: #001C30;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03001C;
}