/*  CSS 리셋하기  */
@import "reset css";


/*  CSS의 캔버스 : 사용자에게 표시되는 UI의 크기를 설정  */
canvas {
  margin-top: 150px;
  width: 1000px;
  height: 1000px;
  border: 5px solid #000000;
  background-color: #FFFFFF;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}


/*  색상 옵션 : 화면에 색상 팔레트를 보이기
    cursor 속성 중 pointer로 해당 태그 위에 위치하는 마우스 커서 모양 바꾸기  */
.color-option{
  width: 100px;
  height: 100px;
  cursor: pointer;
}